@media (min-width: 350px) and (max-width: 575.98px) {
  #first_line {
    border: 0;
  }
  #first_line .choto {
    width: 100%;
  }
  #first_line .choto .image {
    position: relative;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #first_line .choto .image img {
    width: 100%;
    border-radius: 5px;
  }
  #first_line .choto .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    margin: 0 auto;
  }
  #first_line .choto .text h3 {
    color: #253d4e;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    padding: 10px 15px;
  }

  /* =========================== */

  .btn-primary {
    border: 0;
    outline: none;
    background: none;
    --bs-btn-active-bg: none;
    --bs-btn-active-border-color: none;
  }
  .btn-primary:hover {
    background: none;
    border: none;
  }

  .btn-primaryr:focus {
    box-shadow: none;
  }
  .btn-primary i {
    color: #253d4e;
    font-size: 25px;
  }
  .offcanvas.offcanvas-start {
    width: 85%;
    z-index: 9999;
    height: 930px !important;
  }
  .offcanvas {
    position: absolute;
    height: 150%;
  }
  .btn-close {
    --bs-btn-close-focus-shadow: none;
    --bs-btn-close-focus-opacity: 0;
    --bs-btn-close-disabled-opacity: 0;
  }
  .choto_icon i {
    font-size: 25px;
    color: #253d4e;
  }
  .choto_icon .choto_shopping {
    position: relative;
  }
  .choto_icon .choto_shopping::after {
    content: "0";
    position: absolute;
    height: 20px;
    width: 20px;
    background: #3bb77e;
    border: 1px solid #ffff;
    border-radius: 50%;
    left: -12px;
    top: 0;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .choto_form form {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 18px;
  }
  #second_line {
    padding-block: 0;
    border-bottom: none;
  }
  .choto_form form input {
    border: 1px solid #bce3c9;
    border-radius: 5px;
    font-family: "Nunito Sans";
    outline: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #acacac;
    padding: 17px 52px 15px 18px;
    width: 100%;
  }
  .choto_form form a {
    position: absolute;
    top: 50%;
    right: 7px;
    transform: translateY(-50%);
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 3px;
    background: #3bb77e;
    transition: all linear 0.3s;
    font-size: 15px;
  }

  .btn-close {
    --bs-btn-close-color: #000;
    --bs-btn-close-bg: none;
  }
  .offcanvas-header {
    display: inline-block;
    padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
    border-bottom: 1px solid #e0dfdf;
  }

  .inner_box_detail .choto_inner_form form {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 18px;
  }

  .inner_box_detail .choto_inner_form form input {
    border-radius: 5px;
    font-family: "Nunito Sans";
    outline: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #a1a1a1;
    height: 45px;
    padding: 3px 50px 3px 20px;
    background: #f2f3f4;
    width: 100%;
    border: 0;
  }
  .inner_box_detail .choto_inner_form form i {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #5a5b5b;
    font-size: 15px;
  }
  .inner_box_detail .duita_button {
    margin-block: 20px;
    display: flex;
    justify-content: space-between;
  }
  .inner_box_detail .duita_button .one a {
    color: #3bb77e;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    padding: 8px 40px;
    background: #fde1bd;
    transition: all linear 0.3s;
  }
  .inner_box_detail .duita_button .one:hover a {
    margin-top: -10px;
  }

  .inner_box_detail .duita_button .two a {
    color: #626262;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    padding: 8px 30px;
    background: #eeeeee;
    transition: all linear 0.3s;
  }
  .inner_box_detail .duita_button .two:hover a {
    margin-top: -10px;
    color: #3bb77e;
    background: #fde1bd;
  }

  .choto_home_detail:hover {
    cursor: pointer;
  }
  .choto_home_detail {
    background: #ffffff;
    border: 1px solid #ececec;
    position: absolute;
    border-radius: 10px;
    width: 250px;
    left: 0;
    bottom: -22px;
    padding: 25px 15px;
  }
  .choto_home_detail ul li {
    margin-bottom: 19px;
  }
  .choto_home_detail ul li a {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #7e7e7e;
  }
  .choto_home_detail ul li:hover a {
    cursor: pointer;
  }
  .inner_box_detail .dropdown-menu {
    text-align: center;
    border: 0;
    margin-left: 10px;
    border-radius: 0;
    padding: 0;
  }

  .inner_box_detail .dropdown-menu li a {
    color: #7e7e7e;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 10px;
  }
  .inner_box_detail .nav-item a {
    color: #253d4e;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .inner_box_detail .nav-item {
    padding-block: 5px;
  }
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.show {
    color: #253d4e;
  }
  .signup_box {
    border: 1px solid #ececec;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
  }
  .signup_box .number {
    display: flex;
    column-gap: 10px;
  }
  .signup_box .number .icon i {
    color: #3bb77e;
  }
  .signup_box .number .text p {
    color: #151515;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }
  .signup_box .two_bnt {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  .signup_box .two_bnt .one {
    width: 100%;
    text-align: center;
    padding-block: 10px;
    border-radius: 5px;
  }
  .signup_box .two_bnt .one a {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }
  .inner_box_detail .social_icon {
    margin-block: 30px;
    display: flex;
    column-gap: 10px;
  }
  .inner_box_detail .social_icon i {
    width: 30px;
    height: 30px;
    background: #3bb77e;
    color: #ffff;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    border-radius: 50%;
    transition: all linear 0.3s;
  }
  .inner_box_detail .social_icon i:hover {
    margin-top: -5px;
  }
  .inner_box_detail .late_line .text {
    margin-block: 10px 20px;
  }
  .inner_box_detail .late_line .text p {
    color: #a1a1a1;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 10px;
  }
  .inner_box_detail .shop_detail {
    flex-direction: column;
    background: rgb(255, 255, 255);
    border: 1px solid #acacac;
    z-index: 99999;
    width: 100%;
    justify-content: center !important;
    align-items: center;
  }
  .first_line {
    width: auto !important;
  }
  ul {
    padding-left: 0 !important;
  }
  .first_line .tittle {
    margin-block: 10px;
    text-align: center;
  }
  .first_line .tittle h3 {
    margin-block: 14px;
    text-align: center;
    color: #3bb77e;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 14px;
  }
  /* =------------------ */
  .inner_box_detail .shop {
    position: relative;
  }
  .inner_box_detail .shop:hover .shop_detail {
    opacity: 1;
    cursor: pointer;
    visibility: inherit;
  }
  .inner_box_detail .shop .shop_detail {
    background: #ffffff;
    border: 1px solid #ececec;
    position: absolute;
    border-radius: 10px;
    width: 1580px;
    height: 481px;
    left: -670px;
    bottom: -22px;
    padding: 25px 15px;
    transform: translateY(100%);
    transition: all linear 0.3s;
    opacity: 0;
    visibility: hidden;
  }
  .inner_box_detail .shop .shop_detail .first_line ul li {
    margin-bottom: 10px;
  }
  .inner_box_detail .shop .shop_detail .first_line ul li a {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #7e7e7e;
    transition: all linear 0.2s;
  }
  .inner_box_detail .shop .shop_detail .first_line ul li:hover a {
    color: #3bb77e;
    cursor: pointer;
  }
  .inner_box_detail .shop .shop_detail .first_line ul .tittle h3 {
    color: #3bb77e;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 14px;
    margin-bottom: 20px;
  }

  .inner_box_detail .image_design {
    width: 100%;
  }
  .inner_box_detail .image_design .image {
    width: 100%;
    border-radius: 10px;
    position: relative;
  }
  .image_design .image img {
    width: 90%;
    border-radius: 10px;
    margin: 10px;
  }
  .image_design .image .text {
    position: absolute;
    left: 41px;
    top: 57%;
    transform: translateY(-50%);
  }

  .inner_box_detail .image_design .image .text h2 {
    color: #253d4e;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 15px;
    width: 108px;
    text-align: left;
  }
  .inner_box_detail .image_design .image .text h4 {
    color: #fdc040;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 11px;
    margin-bottom: 13px;
    text-align: left;
  }
  .inner_box_detail .image_design .image .text a {
    color: #ffffff;
    background: #3bb77e;
    padding: 11px 14px;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: -22px;
  }
}
